@font-face {
    font-family: "america";
    src: url(/fonts/GTAmericaLCG-CmBd.otf);
}

::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar-button{
    display: none;
}


:root {
    --primary-fonts: Verdana, Geneva, Tahoma, sans-serif;
    --second-fonts: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --p-color: cyan;
    --font-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--font-color);
}


#mousecircle {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 15px;
    height: 15px;
    /* background-color: #fff; */
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: exclusion;
    overflow: hidden;
    pointer-events: none;
    border: 2px solid oldlace;
}

/* home page css */
#home {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#navigation {
    max-width: 90%;
    height: 10vh;
    font-family: var(--primary-fonts);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin: 0 auto;
    overflow: hidden;
}

#navigation>h3 {
    margin-right: 29.5vw;
    /* margin-left: 5vw; */
    font-size: 2rem;
    color: var(--font-color);
    letter-spacing: -4px;
}

#navItem ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-family: var(--second-fonts);
    font-weight: 600;
}

#navItem ul li {
    position: relative;
}

#navItem ul li a {
    text-decoration: none;
    color: var(--font-color);
}

#navItem ul a::before {
    content: " ";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: cyan;
    border-radius: 25%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;

}

#navItem ul a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.pop {
    width: fit-content;
    overflow: hidden;
}

.popFont {
    transform: translateY(50px);
}

.mainfont {
    font-family: var(--second-fonts);
    color: cyan;
    font-size: 3.5rem;
}

.mainfont span {
    color: var(--font-color);
}

.secondfont {
    font-family: var(--primary-fonts);
    font-size: 1.5rem;

}

#homemain {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home #hleft {
    width: 45%;
    height: 70vh;
}

#home #hright {
    width: 45%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hleft {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    line-height: 4rem;
}

#hleft button:hover {
    background-color: cyan;
    color: #000;
}

#hleft button {
    transform-origin: center;
    transition: all ease-in 0.3s;
    border: 2px solid #fff;
    background-color: transparent;
    margin: 3px;
    color: var(--font-color);
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: var(--second-fonts);
    font-size: 1.2rem;
    position: relative;
}

/* form her image border animation */
.imagebox {
    position: relative;
    width: 33vw;
    height: 33vw;
    background-color: rgb(70, 68, 68);
    border-radius: 50%;
    overflow: hidden;
}

.imagebox::before {
    content: "";
    position: absolute;
    inset: -10px 90px;
    transition: 0.5s;
    background: linear-gradient(to top, white, cyan);
    animation: animate 4s linear infinite;
}

.imagebox:hover::before {
    inset: -20px 0px;
    border-radius: 10%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.imagebox::after {
    content: " ";
    position: absolute;
    inset: 6px;
    background-color: #000;
    border-radius: 50%;
    z-index: 3;
}

#content {
    position: absolute;
    inset: 30px;
    border: 6px solid #fff;
    z-index: 15;
    border-radius: 50%;
    overflow: hidden;
}

#content img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}

/* page2 css */
#page2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
}

.skills-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container>h2 {
    border-bottom: 2px solid white;
    font-size: 4vw;
    width: 22vw;
    margin-bottom: 3vw;
    text-align: center;
    font-family: var(--second-fonts);
    white-space: nowrap;
    overflow: hidden;
    font-variant: small-caps;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.skill {
    position: relative;
    border-radius: 26px;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(145deg, cyan, rgb(0, 182, 182));
    box-shadow: 7px 7px 14px #03f8f8,
        -7px -7px 14px #0acaca;
    overflow: hidden;
}

.skill:hover {
    box-shadow: -7px -7px 14px #54b3b3,
        7px 7px 14px #0a8a8a;
    scale: 10px;
}

.skill::before,
.skill::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    font-size: 25px;
    font-weight: bold;
    background-color: cyan;
    transition: all 0.5s;
}

.skill::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.skill::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
}

.skill:hover::before,
.skill:hover:after {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
    transition: all 0.5s;
}

.skill a {
    font-size: 5vw;
    color: var(--clr);
    z-index: 9;
}

/*  page3 css */

#page3 {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #000;
    align-items: center;
    border-radius: 5%;
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
}

#page3left {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #fff;


}

#about {
    display: flex;
    align-items: center;
    background-color: yello;
}

#about h1 {
    font-size: 5vw;
    font-family: var(--primary-fonts);
    letter-spacing: -4px;
}

#page3right {
    position: relative;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5vw;
}

#aboutContent h1 {
    font-family: var(--second-fonts);
    font-size: 6vh;
    line-height: 4vw;
    color: #1a1919e1;
}

#overlay-content{
    position: absolute;
    overflow: hidden;
    
}
#overlay-content h1{
    width: 0%;
    font-family: var(--second-fonts);
    /* color: #fff; */
    color: cyan;
    font-size: 6vh;
    text-wrap: nowrap;
    line-height: 4vw;
    overflow: hidden;
    
}



/* page 4 css */
#page4 {
    width: 100%;
    height: min-content;
    background-color: #000;
    /* position: relative; */
}
#project-heading{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid cyan;
    font-family: var(--primary-fonts);
}
#project-heading h1{
    font-size: 2vw;
    color: #03f8f8;
    letter-spacing: -3px;
    padding-left: 3vw;
    margin-right: 1vw;
}
#project-heading i{
    /* width: 4vw; */
    padding-top: 1vh;
    font-size: 1.5vw;
    color: #03f8f8;
}
.projectBox{
    height: 8vw;
    border-bottom: 1px solid cyan;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overlay-proj{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: cyan;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
    pointer-events: none;
}
.projectBox:hover .overlay-proj{
    top: 0;
    /* background-color: transparent; */
}
.projectBox:hover #project-View{
    z-index: 9;
    color: #fff;
    border: 1px solid #fff;
}

.projectBox h1{
    color: cyan;
    font-family: var(--primary-fonts);
    font-size: 4vw;
    text-justify: inter-ideograph;
    padding-left: 3vw;
    transition: all ease-in-out 0.4s;
}
.projectBox:hover h1{
    z-index: 9;
    color: #fff;
    pointer-events: none;
}
#project-View{
    color: cyan;
    margin-right: 5vw;
    font-family: var(--second-fonts);
    border: 1px solid cyan;
    padding: 0.5vh 1vh;
    border-radius: 15%;
}
.projectPreview{
    width: 50vw;
    height: 52vh;
    background-color: red;
    position: fixed;
    top: 25%;
    right: 12%;
    border-radius: 15px;
    pointer-events: none;
    display: none;
    background-size: cover;
    
}






#page5{
    width: 100%;
    height: 96vh;
    pointer-events: none;
    /* background-color: #03f8f8; */
}


#main{
    position: relative;
}
.wrapper{
    background-color: #000;
}

#footer{
    width: 100%;
    height: min-content;
    position: fixed;
    background-color: #f37d1d;
    bottom: 0;
    z-index: -10;
    flex-direction: column;
    display: flex;
    justify-content: end;
    padding: 0 2vw;
}

#footer h1{
    /* background-color: red; */
    text-align: center;
    border-bottom: 1px solid #fff;
    font-family: var(--second-fonts);
    font-size: 18vw ;
    letter-spacing: -2vw;
    line-height: 25vw;
}
#footer-bottom{
    height: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4vw;
}
#footer-bottom a{
    color: #fff;
    text-decoration: none;
}

#footer-top{
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    padding: 2vw 4vw;
}
#footer-top #contacts{
    padding-top: 3.5vw;
}
#footer-top h3{
    padding-top: 2vw;
    font-size: 2vw;
}
#footer-top h4{
    font-size: 1.6vw;
}
#footer-top-left{
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
}
#footer-top-left input{
    margin-top: 4vw;
    width: 20vw;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #bababa;
    color: black;
    padding: 1vw 0;
    cursor: pointer;  
}



 

